In [ ]:
def print_msg():
  print("Hello World")
  print("baris pertama")
  print("baris kedua")

In [ ]:
print_msg()

Hello World
baris pertama
baris kedua

In [ ]:
def print_msg(input_user):
  print("input berikut adalah dari user", input_user)

In [ ]:
var1="Hallo Python"
print_msg(var1)

input berikut adalah dari user Hallo Python

In [ ]:
def print_mgs(var1, var2, var3):
  print("ini adalah variable pertama:", var1)
  print("ini adalah variable kedua:", var2)
  print("ini adalah variable ketiga:", var3)

In [ ]:
def print_msg(arg1, arg2, arg3):
    print(arg1)
    print(arg2)
    print(arg3)
kata1 = "python"
kata2 = "functional programming"
kata3 = "Digital Skola"

print_msg(kata1, kata2, kata3)

python
functional programming
Digital Skola

In [ ]:
kata1 ="python"
kata2 = "functional programming"
kata3 = "Digital Skola"

print_msg(kata1, kata2, kata3)

python
functional programming
Digital Skola

In [ ]:
def jumlah(a, b):
  c=a+b
  print("Hasil penjumlahan dari", a, "dengan", b, "adalah", c)

In [ ]:
jumlah(5, 7)

Hasil penjumlahan dari 5 dengan 7 adalah 12

In [ ]:
def print_mahasiswa(*mhs):
  print("ini adalah mahasiswa:", mhs[0])

In [ ]:
print_mahasiswa("bayu","andi","evan","eri")

ini adalah mahasiswa: bayu

In [ ]:
def print_mahasiswa(*mhs):
  for i in mhs:
    print("ini adalah mahasiswa:", i)

In [ ]:
print_mahasiswa("bayu","andi","evan","eri")

ini adalah mahasiswa: bayu
ini adalah mahasiswa: andi
ini adalah mahasiswa: evan
ini adalah mahasiswa: eri

In [ ]:
def print_msg(nama, alamat, jurusan):
  print("ini adalah variable nama:", nama)
  print("ini adalah variable alamat:", alamat)
  print("ini adalah variable jurusan:", jurusan)

In [ ]:
print_msg(nama="aries", alamat="bogor", jurusan="ilmu komputer")

ini adalah variable nama: aries
ini adalah variable alamat: bogor
ini adalah variable jurusan: ilmu komputer

In [ ]:
print_msg(alamat="bogor", jurusan="ilmu komputer", nama="aries")

ini adalah variable nama: aries
ini adalah variable alamat: bogor
ini adalah variable jurusan: ilmu komputer

In [ ]:
def data_mahasiswa(**data):
  print("nama adalah:", data['nama'])
  print("alamat:", data['alamat'])
  print("jurusan:", data['jurusan'])

In [ ]:
data_mahasiswa(alamat="Bogor", jurusan="Ilmu Komputer", nama="Aries")

nama adalah: Aries
alamat: Bogor
jurusan: Ilmu Komputer

In [ ]:
def jurusan_mhs(nama, jurusan="Teknik Mesin"):
  print("jurusan mahasiswa adalah", jurusan)
  print("nama mahasiswa adalah", nama)

In [ ]:
jurusan_mhs("Aries", "Ilmu Komputer")

jurusan mahasiswa adalah Ilmu Komputer
nama mahasiswa adalah Aries

In [ ]:
def print_matakuliah(mk):
  for x in mk:
    print("mata kuliahnya adalah", x)

mk_input = ["Pemrograman", "Kalkulus", "Ilmu Ekonomi"]
print_matakuliah(mk_input)

mata kuliahnya adalah Pemrograman
mata kuliahnya adalah Kalkulus
mata kuliahnya adalah Ilmu Ekonomi

In [ ]:
def get_addition(a, b):
  c = a+b
  return c

In [ ]:
var1 = 10
var2 = 15
var3 = get_addition(var1, var2)

In [ ]:
print("Hasil penjumlahannya", var3)

Hasil penjumlahannya 25

In [ ]:
def get_calculation(a, b):
  c = a+b
  d = a-b
  e = a*b
  f = a/b
  return c,d,e,f

In [ ]:
var1 = 10
var2 = 12

jumlah, kurang, kali, bagi=get_calculation(var1, var2)

In [ ]:
print("penjumlahannya", jumlah)
print("pengurangannya", kurang)
print("perkaliannya", kali)
print("pembagiannya", bagi)

penjumlahannya 22
pengurangannya -2
perkaliannya 120
pembagiannya 0.8333333333333334

In [ ]:
#Local Variable
def myMHS():
  nama_mhs = "Aries"
  print(nama_mhs)

In [ ]:
myMHS()

Aries

In [ ]:
#Global Variable
def myMHS_global():
  global nama_mhs2
  nama_mhs2 = "Aries"
  print(nama_mhs2)

In [ ]:
myMHS_global()

Aries

In [ ]:
print(nama_mhs2)

Aries

In [ ]:
nama_mhs3 = "Yudi"

def myMHS3():
  print(nama_mhs3)

myMHS3()

Yudi

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import math

a = math.pow(10, 3)
print(a)

1000.0

In [ ]:
b = [1,2,3,4,5]
c = math.fsum(b)

print(c)

15.0

In [ ]:
string1 = "Hello World"
print(string1)

Hello World

In [ ]:
string2 = string1.replace("World", "Universe")
print(string2)

Hello Universe

In [ ]:
string1 = "Aries"
string2 = "Digital Skola"

string3 = string1 +" "+ string2
print(string3)

Aries Digital Skola

In [ ]:
string4 = " ".join([string1, string2])
print(string4)

Aries Digital Skola

In [ ]:
kalimat = "Hari merdek Republik Indonesia 17 Agustus 1945"

kata = kalimat.split()
print(kata)

['Hari', 'merdek', 'Republik', 'Indonesia', '17', 'Agustus', '1945']

In [ ]:
for i in kata:
  print(i)

Hari
merdek
Republik
Indonesia
17
Agustus
1945

In [ ]:
string1 = "Digital Skola"

print(len(string1))

13

In [ ]:
harga = 1000
txt = "harga produk A adalah {} rupiah"

print(txt.format(harga))

harga produk A adalah 1000 rupiah

In [ ]:
harga = 1000
ppn = 10
total = harga + (harga * (ppn / 100))

txt = "harga produk A adalah {0} rupiah, ppn {1}%, total harga menjadi {2}"
print(txt.format(harga, ppn, total))

harga produk A adalah 1000 rupiah, ppn 10%, total harga menjadi 1100.0

In [ ]:
txt = "harga produk A adalah {2} rupiah, ppn {0}%, total harga menjadi {1}"
print(txt.format(harga, ppn, total))

harga produk A adalah 1100.0 rupiah, ppn 1000%, total harga menjadi 10

In [ ]:
txt = "harga produk A adalah {2} rupiah, ppn {0}%, total harga menjadi {1}"
print(txt.format(ppn, total, harga))

harga produk A adalah 1000 rupiah, ppn 10%, total harga menjadi 1100.0